.button_container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.professionBtn {
  display: inline-block;
  padding: 0.353em 1.25em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #a09898;
  text-align: center; 
  transition: all 0.2s;
}

.professionBtn:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width:30em){
    .professionBtn{
        display: inline-block;
        margin:0.4em auto;
    }
}
